<template>
  <div class="wrapper">
    <div class="item" v-for="(item, key) in apiData" :key="key">
      <img :src="item.preview_image" alt="" class="image">
      <div class="text-wrapper">
        <span>{{item.name}}</span>
        <span>{{item.price_from}}</span>
      </div>
      </div>
    </div>
</template>

<script>
import { ref } from "vue"
import { onMounted } from "@vue/runtime-core"
export default {
  name: 'Card',
  props: {
    msg: String
  },
  setup() {
    const apiData = ref(null)

    onMounted(async () => {
      await fetch('https://api.alohop.com/experiences/?preset=most_popular')
        .then(response => response.json())
        .then(data => {
          apiData.value = data.results.map(item =>{
            const { name, preview_image, price_from } = item
            return { name, preview_image, price_from }
            
          })
        });
    })

    return {
      apiData
    }
  }
}
</script>

<style scoped>
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .item{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px
  }
  .image{
    display: block;
    width: 100%;
    height: 230px;
  }
  .text-wrapper{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
  }

</style>
